html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body{
	background: rgb(2,0,36);
	background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgba(96,210,83,1) 15%, rgba(86,231,161,1) 34%, rgba(160,221,167,1) 50%, rgba(217,233,219,1) 57%, rgba(86,187,98,1) 84%);
    background-repeat: no-repeat;
    background-size: cover;
   	overflow: hidden;
}
.card{
    border-radius: 10%;
}